
<style>
body{
    background-color: blue;
    text-align: center;   
}
h1{
text-align: center;
color: Red;
    
}

h2{
text-align: center;
color: green;
}   
h3{
text-align: center;
color: lightblue;
}
p{
    text-align: center;
}
</style>
