
<style>
body{
    text-align: center;   
}
h1{
text-align: center;
color: black;
    
}

h2{
text-align: center;
color: black;
}   
h3{
text-align: center;
color: lightblue;
}
p{
    text-align: center;
}
</style>
